<div class="items-grid">
    
    <li data-id="Lâmpadas">
        <img src="/assets/lampadas.svg" alt="Lâmpadas">
        
        <span>Lâmpadas</span>
    </li>

    <li data-id="Pilhas e Baterias">
        <img src="/assets/baterias.svg" alt="Pilhas e Baterias">
        
        <span>Pilhas e Baterias</span>
    </li>

    <li data-id="Papéis e papelão">
        <img src="/assets/papeis-papelao.svg" alt="Papéis e Papelão">
        
        <span>Papéis e papelão</span>
    </li>

    <li data-id="Resíduos Eletrônicos">
        <img src="/assets/eletronicos.svg" alt="Resíduos Eletrônicos">
        
        <span>Resíduos Eletrônicos</span>
    </li>

    <li data-id="Resíduos Ôrganicos">
        <img src="/assets/organicos.svg" alt="Resíduos Orgânicos">
        
        <span>Resíduos Ôrganicos</span>
    </li>

    <li data-id="Óleo de Cozinha">
        <img src="/assets/oleo.svg" alt="Óleo de cozinha">
        
        <span>Óleo de Cozinha</span>
    </li>

</div>

<input type="hidden" name="items">
    
